/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


main  {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.row {
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
}

p {
  font-family: 'Arvo', serif;
}

div.play-square {
  min-height: 400px;
  min-width: 400px;
  background-size: 400px 400px;
  text-align: center;
  margin-left: 300px;
}


.l {
  font-family: 'Arvo', serif;
  font-size: 70px;
  line-height: 50px;
  padding-top: 20px;
  color: #682860;
}

a {
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
}

nav.tab-bar {
  background: rgb(32,32,32) ;
  height: 60px;
}

.tab-bar left-off-canvas-toggle menu-icon {
  height: 70px;
  width: 50px;
}

h2{
  font-family: 'Architects Daughter', cursive;
  font-size: 50px;
  padding-top: 100px;
}

h3 {
  font-family: 'Architects Daughter', cursive;
  font-size: 45px;
  padding-top: 30px;
}


